@using System.Security.Claims;
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<AuthorizeView>
    <Authorized>
        @context.User.Identity.Name
        <a href="Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Login">Log in</a>
        <a href="Register">Register</a>

    </NotAuthorized>
</AuthorizeView> 