@page "/update-project/{ProjectId:int}"
@using WebAthenPs.Models.DTOs.Project
@using WebAthenPs.Project.Components.Pages.Project.Etapas
@using WebAthenPs.Project.Services.Interfaces.Project
@inject IProjectService ProjectService
@inject NavigationManager NavigationManager
@inject ILogger<EditProject> Logger

<h3>Detalhes do Projeto</h3>

@if (Project != null)
{
    <div>
        <h4>@Project.ProjectName</h4>

        @if (Project.ActStep == "Etapa 1")
        {
            <StepOneComponent Project="Project" ProjectId="ProjectId" />
        }
        else if (Project.ActStep == "Etapa 2")
        {
            <StepTwoComponent Project="Project" ProjectId="ProjectId" />
        }
    </div>
}
else
{
    <p>Carregando detalhes do projeto...</p>
}

@code {
    [Parameter] public int ProjectId { get; set; }
    private ProjectsDTO Project { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Obter detalhes do projeto
            Project = await ProjectService.GetById(ProjectId);

            if (Project == null)
            {
                Logger.LogWarning("Projeto não encontrado.");
            }
        }
        catch (Exception ex)
        {
            Logger.LogError($"Erro ao inicializar a página: {ex.Message}");
        }
    }
}


<style>
    .status-message {
        background-color: #ffebcc;
        color: #856404;
        padding: 10px;
        border: 1px solid #ffeeba;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 1em;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1em;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0056b3;
        }
</style>
